@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
nav{
    
    font-family: cursive;
background-image: linear-gradient(#7cc1e3,#a5a7a8);
box-shadow: 1px -1px rgb(223, 209, 209);
}
.users-icon,.users-removed-icon{
   font-size: 2.5rem;
    margin-right: 9px;
}
.nav-icon{
    font-size: 2.5rem;
}
.active .users-icon,.active .users-removed-icon{
   color:#ef386f;
   text-shadow: 1px 2px 2px white; 
}